.body{
  background-color: black;
}
.dgpicture{
  width: 50%;
}
.dspicture{
  width: 50%;
}
main{
    width: 100%;
}
header{
    width: 100%;
	background-color: #001f52;
	height: 120px;
  padding: 2px;
}
header img{
	 float:left;
    width:100px;
    height:100px;
}
header div{
	background-color: #4f92ff;
	font-weight: bold;
}
nav{
	background-color: #4f92ff;
}
nav div a{
  color:#001f52;
}
.navlist{
	background-color:#4f92ff;
  border-radius: 10px;
}
div h2{
  text-align: center;
  margin-bottom: 20px;
}
div a{
  color:#001f52;
  margin: 0 auto;
      margin-top:20px;
      padding:3px;
}
.navtable{
	text-align: center;
	background-color:#4f92ff;
   border-radius: 10px;
}
table{
	background-color:  #f5d7bf;
  color: #656665;
}
th{
	background-color: #afcde7;
  color: white;
  border-color: white;
}
td{
  border-color: white;
}
.even{
  background-color: yellowgreen;
}
.navform{
	background-color: #4f92ff;
	text-align: center;
   border-radius: 10px;
}
footer{
  	background-color: #001f52;
}
footer span{
	background-color: #4f92ff;
	color: #FFFFFF;
   border-radius: 10px;
}
